<!DOCTYPE html>
<html>
  <head>
    <% include head.common.ejs %>

    <style>
        textarea 
        {
            resize: none;
        }
        body
        {
            margin-top: 20px;
        }
        #mapcanvas
        {
            height: 500px;
        }
        .w3-hide
        {
            display: none;
        }
    </style>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbtMHdwtaStpZ_TWDdJmWopkdInyWwyaQ&sensor=false">
    </script>
    <script>
        var map;
        var defaultMapOptions = {
            center: new google.maps.LatLng(47, -122.5),
            zoom: 2,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        function locateMe(insert) {
            var success = function (position) {
                var mapPosition =  new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                if (!map) {
                    var options = {
                        center: mapPosition,
                        zoom: 10,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    showMap(options);
                }
                else {
                    map.setCenter(mapPosition);
                }

                if (insert) {
                    var location = ' $(' + Math.round(position.coords.latitude * 10000) / 10000 + 
                        ',' + Math.round(position.coords.longitude * 10000) / 10000 + ') ';
                    var message = $('#message').text() + location;
                    $('#message').text(message);
                }
            };

            var error = function (msg) {
                alert(typeof msg === 'string' ? msg : 'Unable to determine current location.');
                $('#locateMe').hide();
                showMap(defaultMapOptions);
            };

            navigator.geolocation.getCurrentPosition(success, error, { timeout: 10000 });
        }

        function showMap(options) {
            map = new google.maps.Map(document.getElementById("mapcanvas"), options);
        }

        $(function () {
            if (navigator.geolocation) {
                $('#locateMe').show().click(function () { locateMe(true); });
                locateMe(false);
            }
            else {
                showMap(defaultMapOptions);
            }
        });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <!-- <div class="span2">
            <img src="images/w3.png" alt="What Where When"/>
        </div> -->
        <div class="span8 offset2">
            <form>
                <label class="lead">What, Where and When (<a href="#">examples</a>)</label>
                <textarea rows="3" id="message" placeholder="Text with #tags, @people, ^time, and $location" class="input-block-level"></textarea>
                <div class="control-group">
                    <button type="button" class="btn">Search</button>
                    <button type="button" class="btn">Post</button>
                    <button type="button" class="btn w3-hide" id="locateMe">Current location</button>
                </div>
            </form>
        </div>
      </div>  
      <div class="row" >
        <div class="span8 offset2" id="mapcanvas">
        </div>
      </div>      
    </div>
  </body>
</html>